body{
    padding: 0;
    margin: 0;
    background-color: #FEDDDD;
    display: grid;
    min-height: 100%;
    grid-template-rows: 1fr 10fr ;
}

header{
    width: auto;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
h1{
    color: #C80000;
    font-size: 40px;
    position: relative;
    bottom: 15px;
    font-family: "Comfortaa", sans-serif;
}

footer{
    width: auto;
    height: 125px;
    background-color:#ffffff ;
    display: flex;
    justify-content: start;
    gap: 100px;
}

main{
  
display: grid;
justify-content: center;
margin: 100px;
align-items: center;

}


#reg{
    width: 110px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #c8f5c8;
    font-family: "Archivo", sans-serif;
    font-size: 15px;
}

.iii{
    width:1300px;
    height: 115px;
    font-size: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    font-family: "Archivo", sans-serif;
}

.buttons{
    display: grid;
    flex-direction: column ;
    align-items: center;
    width: 1100px;
    height: 450px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 30px;
    margin-left:  200px; 
    padding:0px;
    animation-name: anima_on;
    animation-duration: 1s;
    overflow: auto;
    overflow:hidden;
}

@keyframes anima_on{
    0%{
        height: 0px;  
        opacity: 100;
    }

    100%{
        height: 450px; 
    }
}

.buttons1{
    display: grid;
    flex-direction: column ;
    align-items: center;
    width: 1100px;
    height: 0px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 30px;
    margin-left:  200px; 
    padding:0px;
    overflow: hidden;
    animation-name: anima;

    animation-duration: 1s;
}
@keyframes anima{
   0%{
    height: 450px;
   }
   100%{
    height: 0px;
   }
  
}

/* #Reshit{
    width: 175px;
    height: 50px;
    position: relative;
    right: 320px;
    bottom: 5px;
    border: none;
    background-color: #FF0000;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    font-family: "Archivo", sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#Reshit:hover{
    width: 175px;
    height: 50px;
    position: relative;
    right: 320px;
    bottom: 5px;
    border: none;
    background-color: #FF6262;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.3s;
    font-family: "Archivo", sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
/* } */

.ro1{
    width: 175px;
    height: 50px;
    position: relative;
    right: 320px;
    bottom: 5px;
    border: none;
    background-color: #f51f1f;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    font-family: "Archivo", sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.ro1:hover{
    width: 175px;
    height: 50px;
    position: relative;
    right: 320px;
    bottom: 5px;
    border: none;
    background-color: #f85e5e;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.3s;
    font-family: "Archivo", sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
}

.ro2{
    width: 175px;
    height: 50px;
    position: relative;
    right: 320px;
    bottom: 5px;
    border: none;
    background-color: #f51f1f;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    font-family: "Archivo", sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.ro2:hover:hover{
    width: 175px;
    height: 50px;
    position: relative;
    right: 320px;
    bottom: 5px;
    border: none;
    background-color: #f85e5e;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.3s;
    font-family: "Archivo", sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
}
   

.board{
    background-image: url(/img/board.png);
    background-size: contain;
    width:70px ;
    height: 70px;
    border: none;
    background-color: #fedddd00;
    position: relative;
    right: 300px;
    top: 20px;
}

.board:hover{
    background-image: url(/img/board.png);
    background-size: contain;
    width:70px ;
    height: 70px;
    border: none;
    background-color: #fedddd00;
    position: relative;
    right: 300px;
    top: 20px;
    transform: scale(1.1);
    transition: 0.2s;
}

.board1{
    background-image: url(/img/board.png);
    background-size: contain;
    width:70px ;
    height: 70px;
    border: none;
    background-color: #72181800;
    position: relative;
    right: 300px;
    top: 20px;
}

.board1:hover{
    background-image: url(/img/board.png);
    background-size: contain;
    width:70px ;
    height: 70px;
    border: none;
    background-color: #b6141400;
    position: relative;
    right: 300px;
    top: 20px;
    transform: scale(1.1);
    transition: 0.2s;
}

.inp{
position: relative;
left: 100px;
}


.webinfo{
    display: flex;
    justify-content: start;
}

.webhelp{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-right: 100px;
    align-items: center;
}

#vision{
background-image: url(/img/vision.png);
background-size: contain;
width: 50px;
height: 50px;
border: none;
background-color: #fedddd00;
}

#vision:hover{
    background-image: url(/img/vision.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #fedddd00;
    transform: scale(1.2);
    transition: 0.2s;
}
#vision1{
    background-image: url(/img/vision.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #fedddd00;
    }
    
    #vision2:hover{
        background-image: url(/img/vision.png);
        background-size: contain;
        width: 50px;
        height: 50px;
        border: none;
        background-color: #fedddd00;
        transform: scale(1.2);
        transition: 0.2s;
    }


.language-anime{
    background-image: url(/img/language.png);
    background-size: contain;
    border: none;
    width: 40px;
    height: 40px;
    background-color: #fedddd00;
    animation-name: ani;
    animation-duration: 0.5s;
}

@keyframes ani{
    0%{
        background-color: #c9c9c91c;
        border-radius: 20px;
        transform: scale(1.3);
    }
    30%{
        background-color: #c9c9c94d;
        border-radius: 20px;
        transform: scale(1.3);
    }
    60%{
        background-color: #c9c9c9;
        border-radius: 20px;
        transform: scale(1.3);
    }
    90%{
        background-color: #c9c9c981;
        border-radius: 20px;
        transform: scale(1.3);
    }
    100%{
        background-color: #c9c9c921;
        border-radius: 20px;
        transform: scale(1.3);
    }
}

.language{
background-image: url(/img/language.png);
background-size: contain;
border: none;
width: 40px;
height: 40px;
background-color: #fedddd00;
}

.language:hover{
    background-image: url(/img/language.png);
    background-size: contain;
    border: none;
    width: 40px;
    height: 40px;
    background-color: #fedddd00;
    transform: scale(1.2);
    transition: 0.2s;
}

.mod{
    width: 90px;
    height: 100px;
    background-color: #ff7c7c;
    position: relative;
    
    margin-top: 40px;
    border-radius: 10px;
    display:grid;
    justify-content:center;
   display: none;
} 

.mod1{
    width: 90px;
    height: 100px;
    background-color: #ff7c7c;
    position: relative;
    margin-top: 40px;
    border-radius: 10px;
    display:grid;
    justify-content:center; 
}

#sel{
    width: 80px;
    height: 30px;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#selLen{
    width: 80px;
    height: 30px; 
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

    a{
        text-decoration: none;
        color: black;
        font-family: "Archivo", sans-serif;
    }

    .fooinfo{
        display: grid;
    
        margin-left: 80px;
        margin-top: 10px;
    }

    .a1{
    display: grid;
    }

    .a01{
    display: grid;
    height: 50px;
    
    }

.row1{
display: flex;
justify-content: space-around;
width: 628px;
}

.row2{
    display: flex;
    justify-content: space-around;
}

.row3{
    display: flex;
    justify-content: space-around;
    }
    
.row4{
    display: flex;
    justify-content: space-around;
}

.row5{
    display: flex;
    justify-content: space-around;
}

.btn_r1{
    width: 130px;
    height: 55px;
    background-color: white;
    border-radius: 10px;
    border-width: 0.5px;
    border-color: #ffb7b7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 25px;
    font-family: "Comfortaa", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_r1:hover{
    width: 130px;
    height: 55px;
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    border-color: #ffb7b7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 30px;
    transform: scale(1.2);
    transition: 0.3s;
}

#b11,#b12,#b13,#b14,#b18,#b19,#b20,#b21,#b25,#b26,#b27,#b28,#b32,#b33,#b34,#b35{
    background-color: #FFF0F0;
}



.alert {
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
  }

  .comp{
    width: 1200px;
    height: 150px;
    background-color: #ffffff;
    position: relative;
    margin-top: 20px;
    margin-bottom:30px ;
    left: 140px;
    border-radius: 10px;
    padding: 20px;
    font-size: 25px;
    display: none;
    overflow-y:auto;
    overflow-x: hidden;
    animation-name: exitt;
    animation-duration: 0.5s;
  }

  @keyframes exit{
    0%{
    height:300px;
    opacity: 100%;
    }
    100%{
    height: 0px;
    opacity: 0%;
    }
  }
.OtvetBoard1{
    width: 1000px;
    height: 30px;
}
#btnwinexit{
    padding: 0;
    margin: 0;
    border: none;
    background-color: #3c763d00;
    width: 40px;
    height: 40px;
    background-image: url(/img/btnwinexit.png);
    background-size: contain;
    position: relative;
    left: 1150px;
   
}

#btnwinexit:hover{
    padding: 0;
    margin: 0;
    border: none;
    background-color: #3c763d00;
    width: 50px;
    height: 50px;
    background-image: url(/img/btnwinexit.png);
    background-size: contain;
    position: relative;
    left: 1150px;
    transform: scale(1.05);
    transition: 0.5s;
}

#x{
    display: none;
    border-radius: 5px;
    outline: none;
}